{name, "serial"}.
{authors, ["Johan Bevemyr","Tony Garnock-Jones <tonygarnockjones@gmail.com>"]}.
{description, "Erlang serial-port support"}.
{homepage, "https://github.com/tonyg/erlang-serial"}.
{license, "MIT", "LICENSE"}.
{url, {git, "https://github.com/tonyg/erlang-serial.git", {branch, "master"}}}.
{build_command, "make"}.
{applications, [serial]}.
